<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
           "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>observe</servlet-name>
    <servlet-class>org.w3c.unicorn.tests.FirstServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
       <servlet-name>observe</servlet-name>
       <url-pattern>/observe</url-pattern>
   </servlet-mapping>
   
</web-app>
