/*
   Base Style Sheet for the W3C Markup Validation Service.

   Copyright 2000-2006 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: base_result.css,v 1.1.1.1 2006-08-31 09:09:31 dleroy Exp $
*/

@import url(results.css"); /* CSS for validation results. */
@import url("navbar.css");  /* CSS for navigation menu. */
@import url("tips.css");    /* CSS for Quality Tips. */
@import url("docs.css");    /* CSS for the Documentation. */
@import url("print.css") print;
@import url("handheld.css") handheld;


/* Special Notices */
p#msie { /* msie-bug note for text/plain */
  float: right;
  border: 1px solid black;
  background: white;
  width: 15em;
  padding: 1em;
  text-align: justify;
  font-size: smaller;
}


/*                 
   General styling 
                   */
html {
    background-color: white;
}

body {  
    margin: auto auto;
    padding-left: 6%;
    padding-right: 6%;
    background-color: white;
/*    background-image: url(http://www.w3.org/Icons/logo-WMVS.png);
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat; */
    color: #11111A;
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
    font-size: 1em; /* setting base font to user's prefered size */
    line-height: 130%;
}

/*                                                   
   Main blocks - see also #menu styled in navbar.css 
                                                     */

#banner {
    background-color: white;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top right;
    padding: 0;
    height: 50px;
    margin-bottom: 0;
/*
    margin-top: 20px;
    margin-left: 42px;
*/
    border: 0;

}

#banner h1 { 
    height: 50px;
    vertical-align: middle;
    font-size: 1.5em;
    display: inline;
}

#main {
    border-bottom: 0;
    border-top: 0;
    border-left: 1px solid #dfebf7;
    border-right: 1px solid #dfebf7;

}
#main, address { 
    background-color: white;
    margin: 0;
    /*margin-left: 42px; */
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
/*    border: 1px solid #E8E8FA; */
}

address {
    background-color: #eee;
    background-image: url(images/footer.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    height:45px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 15px;
    clear: right;

}

address img {
   display: inline;
   float: left;
   vertical-align: middle;
   width: 88px;
}


.intro {
  font-style: italic;
  text-align: justify;
}

/* 
   Headers
            */

h1 { 
    color: #053188;
    font-family: "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
    font-size-adjust: .53;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

h2 { 
    color: #777742;
    background: white;
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, Didot, serif;
}

h3 {
   /* color: #C65831; */
    color: #fff;
    background-color: #aaaa77;
    font-size: 1.1em;
    padding: 2px 15px;
    border-top: 1px dotted #777742;
    border-bottom: 1px dotted #777742;
    text-decoration: none;
    font-family: Georgia, Didot, serif;
} 

h4 {
    color: #777742;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    font-size: 1.0em;
    font-family: Georgia, Didot, serif;
}

h5,h6 {
    color: #777742;
    background-color: white;
    font-family: Georgia, Didot, serif;
    }
/* 
   General link styling
                         */

a:link, a:visited {
    color: #005A9C;
    text-decoration: none;

}

a:hover, a:active {
    color: #005A9C;
    text-decoration: underline;
}


/* 
   Other basic styles 
                      */

/* TODO - add ol, li, td here ? */
p, dt {
    margin-left: 15px;
    margin-right: 25px;
}

dd {
    margin-left: 35px;
    margin-right: 25px;
}

#news dt {
    font-weight: bold;
     margin-top: 1em;
   }

img { 
    margin:0;
    padding: 0;
    vertical-align: middle;
    border: 0;
}

acronym:hover, abbr:hover {
    cursor: help;
}

abbr[title], acronym[title], span[title], strong[title] {
    border-bottom: thin dotted;
    cursor: help;
}

pre, code, tt {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Andale Mono", monospace;
    line-height: 100%;
    white-space: pre;
}

a:link img, a:visited img {
    border-style: none;
}

a img {color: black} /* The only way to hide the border in NS 4.x */

ul.toc {
    list-style: none;
}




/*
   Stuff we don't actually want too visible - or not at all
                                                            */
                                                            
p.copyright {
  margin-top:     20px;
  width: 50%;
  font-size:      x-small;
  text-align:     justify;
  text-transform: uppercase;
  margin-left:    222px;
  font-family: "Bitstream Vera Sans Mono", monospace;
  color:          #888;
  line-height:    120%;
}

p.copyright a {
  color: #88f;
  text-decoration: none;
}


.hideme { display: none; }


/*
   Forms 
         */


/* Fieldsets */
fieldset {
    padding: .5em;
    background: white;
    border: 1px dotted #aaaa77;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: .5em;
}

fieldset legend {
    color: #fff;
    background-color: #aaaa77;
    font-size: smaller;
    padding: .1ex .5ex;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    font-weight: bold;
}


input {
    vertical-align: middle;
}

input.reset {
    text-align: center;
}

input.default {
    text-align: center;
    font-weight: bold;
}


