/*
   Navigation Style Sheet for the W3C Markup Validation Service.

   Copyright 2000-2006 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: navbar.css,v 1.1.1.1 2006-08-31 09:09:32 dleroy Exp $
*/


#menu {
        background-color: #005A9C;
        margin: 0;
        padding: 0;
        /*margin-left: 42px;*/
        padding-top:3px;
        padding-bottom: 3px;
        line-height: 140%;
        vertical-align: bottom;
        font-size: 0.9em;
        list-style-type: none;
}

#menu { padding-left: 1em; padding-right: 1em}
#menu li {
  display: inline;
}

#menu li a {
  padding-right: 1.2em;
  padding-left: 1.2em;
  color: white;
}

/* Jump Bar  - results page*/
#jumpbar {
    background-color: #dfebf7;
    float:            right;
    width: 8em;
    margin-right: 0; 
    text-align:       left;
    text-decoration:  none;
    padding:          1ex;
    border-left:     1px solid #005A9C;
    border-bottom:    1px solid #005A9C;
    margin-top:       -15px; 
    font-size: 0.9em;
    font-weight:      bold;
    margin-left: 1em;
}

#jumpbar ul {
  padding: 0;
  margin:  0;
}

#jumpbar li {
  list-style-type: none;
  text-align: right;
}

div#jumpbar li a {
  height: 20px;
  padding-right: 20px;
  padding-left: 25px;
}
div#jumpbar li a:hover {
  text-decoration: underline;
}

#jumpbar li a:link, #jumpbar li a:visited {
  text-decoration: none;
  text-align: right;
  display: block;
  width: 8em;
  padding: 2px 0px;
  margin: 0;
  border-top: dotted 1px #053188;
}

#jumpbar li a#selected:link, #jumpbar li a#selected:visited {
  text-decoration: underline;
  background-color: #fff;
  color: #053188;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #fff;
}

