/* style sheet for the validator's results page          */
/* $Id: results.css,v 1.1.1.1 2006-08-31 09:09:32 dleroy Exp $ */

.input {
  color: black;
  background-color: #eee;
  font-family: "Bitstream Vera Sans Mono", monospace;
  font-size: small;
}

/* Various Bits of the Table Header */
/*
*/
fieldset div.moreinfo {
  float: right;
  width: 30%;
}

fieldset div.moreinfo p {
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
  text-align: justify;
  font-size: smaller;
}

fieldset div.cheat {
  clear: both;
}


table.header {
  clear: left;
  margin-left: auto;
  margin-right: auto;
}

fieldset table.header {
  float: left;
  margin: 1ex;
}

/* Error Messages Display */
/*
*/

li.msg_info span.err_type{
  background-color: #888;
  padding: .1em .5em;
  color: white;
  font-size: smaller;
}

li.msg_warn span.err_type{
  padding: .1em .5em;
  background-color: #FA9084;
  color: #333;
  font-size: smaller;
}

li.msg_err span.err_type{
  padding: .1em .5em;
  background-color: #D23D24;
  color:white;
  font-size: smaller;
}

.msg {
  font-weight: bold;
}

li.msg_info span.msg { /* these messages are not errors */
  font-weight: normal !important;  
}

.ve {
  font-size: smaller;
  padding: 0;
  width: 100%;
}

.ve p {
  line-height: 110%;
  margin: 1ex 5em 1ex 1em;
  text-align: justify;
}

/* no Helpwanted, hence giving it a bit of space instead */
li.msg_info {
  padding-bottom: 2em;
}

p.helpwanted {
  padding: 0;
  margin-left:  auto;
  margin-right: 5px;
  margin-bottom: 2em;
  color:        #888;
  text-align:       right;
}

p.helpwanted a {
  color: #88f;
  text-decoration: none;
}

code.input {
  margin-bottom: 2ex;
}

code.input strong {
  color: red;
  padding-left: .5ex;
  padding-right: .5ex;
  font-weight: bolder;
}

ol#errors li {
  clear: both; 
}

/* Source Code Display */
/*
*/
#source ol {

  font-family: "Bitstream Vera Sans Mono", monospace;
  font-size: smaller;
  background: #eee;
  border: 1px solid black;
  margin: 1em;
}
#source ol li {
  margin: 1em;
}

#source ol li a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* Style for non-parser warnings. */
/*
*/

dl#warnings {
  clear: left;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
}

/* "Fatal" warnings... */
dl#warnings dt {
  background: #FA9084; /* based on color for .invalid, but washed out */
  padding: .5ex;
  margin: 0;
  float: left;
  display: inline;
  font-size: small;
  font-weight: bolder;
}

dl#warnings dd {
  clear: left;
  border-left: 2px solid #FA9084; /* based on color for dl#warnings dt */
  margin-top: 0;
  margin-left: 0;
  padding-top: .5em;
}

dl#warnings dd p:first-child {
  /* font-weight: bold; */
}


th {
  padding-right: .5em;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

td {
  text-align: left;
  padding-left: .5em;
}

.info {
  color: black;
  background: white;
  border-color: gray;
}

.warning {
  color: black;
  background: silver;
  border-color: gray;
}

.error {
  color: black;
  background: yellow;
  border-color: black;
}

.fatal h2 {
  color: black;
  background: red;
  border: solid black 1px;
}

div#result {
  clear: left;
  padding-top: 1em;
}

h2.valid, h2.invalid, h2.tentative_valid {
    text-align: center;
    margin: 0;
  font-family: "Bitstream Vera Sans", sans-serif;
  font-size-adjust:	.53;
  font-size:		1.5em;
  font-weight:		500;
  font-style:		normal;
  text-decoration:	none;
  word-spacing:		normal;
  letter-spacing:	normal;
  text-transform:	none;
  border-color:		black;
  padding-top:		.5em;
  padding-bottom: 	.5em;
}

.valid {
  background-color:	#55B05A;
  color:		white;
}

.tentative_valid {
/* we could use a different color than for "valid" */
/*  background-color:	#888; */
/* ... or simply use the same */
  background:           #55B05A;
  color:		white;
}

.invalid {
  background-color:	#D23D24;
  color:		white;
}

td.valid {
  background-color:		white;
  color:           #55B05A;
}

td.invalid 
{
  color:	#D23D24;
  background-color:	white;
}

img.inline-badge {
  float: left;
}


div.mtb { /* "Medium Thematic Break" */
  margin-top: 5em;
  border-top: 1px solid black;
}

