/*
   Quality Tips Style Sheet for the W3C Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: tips.css,v 1.1.1.1 2006-08-31 09:09:32 dleroy Exp $
*/

dl.tip {
     margin-top: 0em;
     text-align: center;
     background: #eeeeee;
     border-top: 1px solid black;
  border-bottom: 1px solid black;
        padding: .5em;
}

dl.tip dt {
  text-align: center;
       color: black;
  background: #eeeeee;
     display: inline;
}

dl.tip dt a {
  text-decoration: none;
  color: inherit;
} 

dl.tip dd {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  color: blue;
  display: inline;

}

dl.tip dd a {
  text-decoration: none;
}

