/*
   XML Results Style Sheet for the W3C Markup Validation Service.

   Copyright 2002 Terje Bless <link@pobox.com>. All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: xml-results.css,v 1.1.1.1 2006-08-31 09:09:32 dleroy Exp $
*/

result, meta, uri, modified, server, size, encoding, doctype, warnings, messages {display: block}
strong, a {display: inline}

meta {
  margin-left: 5em;
  margin-bottom: 2em;
  border-bottom: 1px solid black;
  font-weight: bolder;
}

uri:before      { content: 'URL: ' }
modified:before { content: 'Modified: ' }
server:before   { content: 'Server: ' }
size:before     { content: 'Size: ' }
encoding:before { content: 'Encoding: ' }
doctype:before  { content: 'Doctype: ' }

warnings {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  background: gray;
  margin: 3em;
}

warning {
  background: red;
  display: list-item;
}

messages {margin: 2em}
msg {
  display: list-item;
}
