<?xml version='1.0' encoding="utf-8"?>
    <observationresponse xmlns="http://www.w3.org/unicorn/observationresponse"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.w3.org/unicorn/observationresponse file:/home/jean/observer-response.xsd"> 
      <checkedby>Unicorn</checkedby>
      <passed>false</passed>
      <result>
        <errors xml:lang="en">
          <errorcount>1</errorcount>
          <errorlist>
              <uri></uri>
              <errorcount>1</errorcount>
              <error>
                  <errortype>malformed_response</errortype>
                  <message>The response of this observer seems to be malformed</message>
                  <longmessage>
                      This is probably not your fault. You can contact the maintainer
                      of Unicorn and describe how you get this error.
                  </longmessage>
                  <longmessage>Sorry for the inconvenience.</longmessage>
              </error>
          </errorlist>
        </errors>
      </result>
    </observationresponse>
