/* Author: Thomas GAMBET <tgambet@w3.org>.
   (c) COPYRIGHT MIT, ERCIM and Keio, 2010. */
/* YUI Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
/*abbr,acronym { 
	border:0;
}*/
legend {
	padding:0;
}

/* General layout */
body {
	min-width:40em;
	padding-bottom:2em;
}
#frontforms, #menu, #footer, div.text, #translations {
	margin:1em 2em;
}
#banner {
	margin:1.5em 2em 1em 2em;
	line-height:1;
}
#banner img {
	margin-right:0.7em;
	vertical-align:middle;
}
#banner h1 {
	font-size:1.6em;
	padding-bottom:0.43em;
}
#banner p {
	font-size:0.7em;
	line-height:100% !important;
	margin:-2em 12.1em 0 12.1em;
	padding-bottom:1em;
	background-color: transparent;
}
#tabset_tabs {
	height: 1.60em;	
}
#tabset_tabs li {
	cursor:pointer;
	float:left;
	margin-right:0.245em;
}
body.rtl #tabset_tabs li {
	float:right;
	margin-left:0.245em;
	margin-right:0;
}
#tabset_tabs li a {
	display:block;
	font-size:0.9em;
	margin-left:0.5em;
	padding:0.515em 1.3em 0.215em 0.8em;
}
#fields {
	clear:both;
	padding:0.5em 1.3em 1em 1.3em;
}
#fields form {
	margin-top:0.5em;
}
fieldset div.input, fieldset div.options {
	padding-bottom: 0.5em;
}
fieldset fieldset, fieldset div.submit {
	/*margin-left:1em;*/
}
fieldset fieldset {
	margin-top: 0.5em;
}
fieldset p, fieldset li {
	margin-top:0.5em;
}
fieldset label span {
	font-size:0.9em;
	min-width:4.5em;
	display:inline-block;
	padding-right:0.3em;
}
div.options label span {
	min-width:7em;
}
div.options select {
	min-width:15em;
}
fieldset.options.none {
	display:none !important;
}
fieldset span.checkboxlist, fieldset span.radiolist {
	font-size:0.9em;
}
fieldset .checkboxlist label, fieldset .radiolist label {
	margin-right:0.5em;
}
fieldset legend {
	font-size:1.1em;
	letter-spacing:0.06em;
	padding:0 0 0.23em;
}
fieldset div.submit {
	padding-bottom: 0;
	padding-top: 0.5em;
	text-align:center;
}
fieldset div.submit input {
	height:34px;
	width:130px;
	border:none;
	font-size: 0.9em;
	font-family:Helvetica,Arial,Sans-Serif;
	cursor:pointer;
}
fieldset p.instructions {
	font-size:0.8em;
	margin-top:0.70em;
}
fieldset span#task_descrip {
	font-size:0.8em;
	font-style:italic;
}
fieldset input#task_change, input#lang_code {
	background:#EEEEEE url(../images/grad.png) repeat-x scroll left top;
	border-color:#AAAAAA #444444 #444444 #AAAAAA;
	border-style:solid;
	border-width:1px;
	color:#365D95;
	width:2.5em;
	height:2.3em;
	cursor:pointer;
	font-size:0.7em;
}
input#ucn_uri, input#ucn_file, textarea, select, fieldset.about_you input {
	background:#FEFEFE url(../images/textbg.png) no-repeat scroll left top;
	border-color:#777777 #BBBBBB #DDDDDD;
	border-style:solid;
	border-width:1px;
	font-size:0.8em;
	padding:0.3em 0.2em 0.2em 0.4em;
}
textarea {
	font-size:0.9em;
}
input#ucn_uri, textarea {
	width:85%;
	
}
input#ucn_file {
	width:85%;
	padding-left:0.4em;
}
select.ucn_text_mime {
	margin-top:0.4em;
}
img.loader {
	margin: 1em;
}
#w3c-include {}
#lang_choice {
	margin-right:2em;
	position:absolute;
	right:0;
	top:0;
	height:1em;
}
#lang_choice label {
	background-image:url(../images/globe.png);
	height:0px;
	width:20px;
	padding-top:20px;
	overflow:hidden;
	display:inline-block;
	vertical-align:bottom;
}
div#lang_choice {
	font-size:0.8em;
	margin:0.2em 2.5em 0 0;
}
#lang_choice select {
	font-size:0.7em;
	height:2em;
}
#menu {
	text-align:center;
	padding:0.3em 0;
}
#menu li {
	margin-right:0.8em;
	display:inline;
}
#footer #activity_logos {
	float:left;
	padding-right:2em;
}
#footer #support_logo {
	float:right;
	padding-left:2em;
	padding-top:0.5em;
	width:90px;
}
#footer p.copyright {
	font-size:0.7em;
	line-height:1.4;
	text-align:center;
	text-transform:uppercase;
}
div.text h2 {
	font-size:1.3em;
	color:#438600;
	/*color:#953636;*/
}
div.text h3 {
	font-size:1.1em;
	color:#438600;
	border-bottom:1px dotted #64c800;
}
div.text p {
	margin:0.5em 0 0.5em 1em;
}
div.text ol {
	margin:0.5em 0 0.5em 2em;
	list-style-type:decimal;
	list-style-position:inside;
}
div.text ul {
	margin:0.5em 0 0.5em 2em;
	list-style-type:disc;
	list-style-position:inside;
}
div.text li {
	line-height:130%;
}

/* Backgrounds & colors */
body {
	font-family:Helvetica,Arial,Sans-Serif;
}
a:link, a:visited, legend, div.submit input {
	color:#365D95;
	text-decoration:none;
}
a:hover {
	color:#1F2126;
	text-decoration:underline;
}
div.submit input:hover {
	color:#1F2126;
}
#banner {
	background:#365D95 url(../images/head-br.png) no-repeat scroll right bottom;
}
#banner h1 {
	background:url(../images/head-bl.png) no-repeat scroll left bottom;
	color:#FDFDFD;
}
#banner h1 span {
	border-bottom:1px solid #4E6F9E;
}
#banner a:link, #banner a:hover, #banner a:visited, #banner a:active {
	color:#FDFDFD;
	text-decoration:none;
}
#banner p {
	color:#D0DCEE;
	letter-spacing:0.1em;
}
#tabset_tabs li {
	background:#DADDE3 url(../images/tab-tl.png) no-repeat scroll left top;
	border-bottom:1px solid #CBD0DB;
}
#tabset_tabs li.selected {
	background:#EAEBEE url(../images/round-tl.png) no-repeat scroll left top;
	border-bottom:1px solid #EAEBEE;
}
#tabset_tabs li a {
	outline: 0;
	font-weight:bold;
	background:#DADDE3 url(../images/tab-tr.png) no-repeat scroll right top;
}
#tabset_tabs li a:hover {
	text-decoration:none;
}
#tabset_tabs li.selected a {
	background:#EAEBEE url(../images/round-tr.png) no-repeat scroll right top;
	color:#1F2126;
}
p.instructions, span#task_descrip {
	color:#4D525E;
}
#fields {
	background:#EAEBEE url(../images/round-tr.png) no-repeat scroll right top;
}
body.rtl #fields {
	background:#EAEBEE url(../images/round-tl.png) no-repeat scroll left top;
}
#fields, #menu {
	background-color:#EAEBEE;
}
fieldset div.input, fieldset div.options, fieldset div.submit {
	background:url(../images/double.png) repeat-x scroll left top;
	border-top:1px solid #CBCDD5;
}
fieldset div.submit input {
	background:url(../images/button.png) no-repeat scroll left 1px;
}
#footer p.copyright {
	color:#7C8395;
}
#footer p.copyright a:link, #footer p.copyright a:visited {
	color:#A3756E;
}
#messages {
	font-size:0.9em;
	margin:1.1em 2.2em;
}
#messages .error, #messages .warning, #messages .info {
	padding:0.7em;
	border:2px solid;
	margin:0.6em 0;
}
#messages .error {
	color:#8A1F11;
	border-color:#FBC2C4;
	background:#FBE3E4;
}
#messages .warning {
	color:#514721;
	border-color:#ffe57d;
	background:#FFF6BF;
}
#messages .info {
	color:#11438a;
	border-color:#c2dafb;
	background:#e3edfa;
}
#messages a {
	text-decoration: underline;
}
#messages .info a {
	color:#0c3267;
}
#messages .warning a {
	color:#342e15;
}
#messages .error a {
	color:#67170c;
}
#messages .error h4, #messages .warning h4, #messages .info h4 {
	line-height:22px;
	padding-left:30px;
}
body.rtl #messages .error h4, body.rtl  #messages .warning h4, body.rtl  #messages .info h4 {
	padding-left:0;
	padding-right:30px;
}
#messages .error h4 {
	background:url(../images/icone_error_b.png) no-repeat scroll left top;
}
body.rtl #messages .error h4 {
	background-position:right top;
}
#messages .warning h4 {
	background:url(../images/icone_warning_b.png) no-repeat scroll left top;
}
body.rtl #messages .warning h4 {
	background-position:right top;
}
#messages .info h4 {
	background:url(../images/icone_info_b.png) no-repeat scroll left top;
}
body.rtl #messages .info h4 {
	background-position:right top;
}
#messages .error pre {
	padding-top:0.6em;
}
#messages .pointer h4 {
	font-weight:bold;
	font-size:0.9em;
}
#messages .pointer:hover h4 {
	text-decoration: underline;
}
/* Post-javascript */
fieldset.toggles legend {
	background:url(../images/arrow-closed.png) no-repeat scroll 0.2em 0.35em;
	padding-left:0.8em;
	cursor: pointer;
}
fieldset.toggled legend {
	background:#EAEBEE url(../images/arrow-open.png) no-repeat scroll 0 0.5em;
	padding-left:0.8em;
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}

/* Result page */
#observations {
	font-size: 0.8em;
	margin:1em 2.5em;
}
#observations div.observer {
	margin-top: 0.5em;
}
#observations div.observer h2.title {
	font-size: 1.3em;
	padding: 0.3em;
	text-align:left;
	color:white
}
#observations div.observer h2.title a {
	font-size: 0.9em;
	color:white;
}
#observations div.observer h2.title a:hover {
	color:white;
}
#observations div.observer h2.title a.direct_link, #observations td.codeContext a.direct_link {
	height:0;
	width:0;
	font-size:0;
	display:inline-block;
	overflow:hidden;
	padding:11px 0 0 12px;
}
#observations div.observer h2.title a.direct_link {
	background:url(../images/unicons_sprite.png) no-repeat -22px -22px;
}
#observations div.observer h2.title a.direct_link:hover {
	background:url(../images/unicons_sprite.png) no-repeat -22px -35px;
}
#observations .codeContext a.direct_link {
	float:right;
	background:url(../images/unicons_sprite.png) no-repeat -34px -22px;
}
#observations td.codeContext a.direct_link:hover  {
	background:url(../images/unicons_sprite.png) no-repeat -34px -35px;
}
#observations div.observer h2.title a.anchor {
	height:0;
	width:0;
	margin-left:2px;
	font-size:0 !important;
	display:inline-block;
	overflow:hidden;
	padding:11px 0 0 11px;
	background:url(../images/unicons_sprite.png) no-repeat -11px -22px;
}
#observations div.observer h2.title a.anchor:hover {
	background:url(../images/unicons_sprite.png) no-repeat -11px -35px;
}
#observations div.observer h2.title span.name {
	font-style: italic;
}
#observations div.observer h2.title span.icons {
	float: right;
	text-align:right;
}
#observations div.observer h2.title span.icons a {
	font-size:0.8em;
	outline:0;
}
#observations div.observer h2.title span.icons a:hover {
	text-decoration:none;
}
#observations div.observer.group h2.title span.icons a:hover {
	text-decoration:none;
	cursor:default;
}
#observations div.observer h2.title span.icons a:hover span.count {
	text-decoration:underline;
}
#observations div.observer.grouped h2.title span.icons a:hover span.count {
	text-decoration:none;
}
#observations div.observer h2.title span.icons a span.legend, #observations div.group span.legend {
	display:inline-block;
	overflow:hidden;
	font-size:0;
	height:0;
	width:0;
	padding:18px 18px 0 0;
	vertical-align:bottom;
	margin-right:4px;
}
#observations div.observer h2.title span.icons a.infos span.legend, #observations div.group span.legend.info  {
	background:url(../images/unicons_sprite.png) no-repeat 0 -48px;
}
#observations div.observer h2.title span.icons a.errors span.legend, #observations div.group span.legend.error {
	background:url(../images/unicons_sprite.png) no-repeat -18px -48px;
}
#observations div.observer h2.title span.icons a.warnings span.legend , #observations div.group span.legend.warning {
	background:url(../images/unicons_sprite.png) no-repeat 0 -68px;
}
#observations div.observer h2.title span.icons img {
	vertical-align: -20%;
	padding:0 0.2em;
}
#observations div.valid h2.title {
	background-color:#1daa34;
	border: 1px solid #17882a;
}
#observations div.invalid h2.title {
	background-color:#cc2323;
	border: 1px solid #aa1d1d;
}
#observations div.undef h2.title {
	background-color:#355c95;
	border: 1px solid #254066;
}
#observations div.results {
	padding-left:0.5em;
	border-left:1px solid;
}
#observations div.valid div.results {
	border-color:#1daa34;
}
#observations div.invalid div.results {
	border-color:#cc2323;
}
#observations div.undef div.results {
	border-color:#4778bc;
}
#observations div.infos, #observations div.warnings, #observations div.errors {
	padding-top: 0;
}
#observations h3.title {
	font-size: 1.1em;
	padding:0.3em 0 0.3em 0;
	border-bottom:1px solid #CCCCCC;
}
#observations h3.title a.anchor {
	/*height:0;
	width:0;
	overflow:hidden;
	padding:15px 0 0 23px;
	background:url(../images/permalink.gif) no-repeat 6px 2px;
	float:right;*/
	margin: 2px 6px 0 0;
}
#observations .infos h3.title {
	color: #4778BC;
}
#observations .errors h3.title {
	color: #aa1d1d;
}
#observations .warnings h3.title {
	color: #b48700;
}
#observations .results h3.pointer:hover {
	/*background-color:#f5f5f5;*/
	background-color:#EEEEEE;
} 
#observations td.uri {
	background-color:#EEEEEE;
	padding:0.4em;
}
#observations td.uri span {
	font-weight: bold;
}
#observations td.anchor {
	width:11px;
	text-align:right;
}
#observations td.anchor a, #observations h3 a.anchor {
	height:0;
	width:0;
	/*display:inline-block;*/
	float:right;
	font-size:0;
	overflow:hidden;
	padding:11px 0 0 11px;
	background:url(../images/unicons_sprite.png) no-repeat 0 -22px;
	outline:0;
}
#observations td.anchor a:hover, #observations h3 a.anchor:hover {
	background:url(../images/unicons_sprite.png) no-repeat 0 -35px;
}
#observations table {
	border-collapse:collapse;
	width:100%;
}
#observations table tr td {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
	border-left-width: 0;
}
#observations table tr td.message, #observations table tr td.uri {
	border-right-width: 0;
}
#observations table tr td.uri.anchor {
	border-right-width: 1px;
}
#observations td, #observations th, #translations td, #translations th {
	padding:3px;
}
#observations td.linenumber, #observations td.colnumber {
	background-color:#E1E1E1;
	text-align:right;
	width:1.7em;
	font-size:0.8em;
	border-right: 1px solid #CCCCCC;
}
#observations td.codeContext {
	background-color:#F1F1F1;
	font-size:0.8em;
}
#observations tr.showContext td {
	background-color:#E1E1E1;
	padding:0;
	text-align:center;
	font-size:0.8em;
	color:#365D95;
}
#observations tr.showContext td:hover {
	color:#1F2126;
	text-decoration:underline;
}
#observations tr.showContext td span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -36px 0;
}
#observations tr.showContext td span.arrow.toggled {
	background: url(../images/unicons_sprite.png) no-repeat -36px -11px;
}
#observations code {
	font-family:"Bitstream Vera Sans Mono",Monaco,"Andale Mono",monospace;
	line-height:100%;
	margin-top:0.5em;
}
#observations strong {
	font-weight:bold;
}
#observations .codeContext strong {
	color:red;
	padding-left:0.5ex;
	padding-right:0.5ex;
	font-weight:bolder;
	border-bottom:thin dotted;
	cursor:help;
}
#observations .group .title {
	font-weight:bold;
	font-size:1.2em;
}
#observations .group .block {
	padding-left:1em;
}
#observations .group .block .block {
	border-left:1px dotted #CCCCCC;
}
#observations .group .block p {
	margin:1em 0;
	line-height:150%;
}
#observations .message div.description  {
	margin-top:0.3em;
}
#observations .message div.description div  {
	line-height:140%;
}
#observations .message span.msg.desc {
	font-weight:bold;
}
#observations .message .description em {
	font-style:italic;
}
#observations .message .description ul, #observations .message .description ol {
	margin-left:1em;
}
#observations .message .description ul li:before {
	content:"- ";
}
#observations .message .description ol {
	list-style-type:decimal;
}
#observations .message .description ol li {
	margin-left:1em;
}
div.warnings td.level1 {
	border-left:6px solid #f97c6e !important;
}
div.warnings td.level2 {
	border-left:6px solid #FFB1A7 !important;
}
#translations table {
	border-collapse:collapse;
	font-size:0.8em;
}
#translations tr {
	border-collapse:collapse;
	border:1px solid #CCCCCC;
}
#translations th {
	border-right:1px solid #CCCCCC;
	background-color:#EEEEEE;
	text-align:center;
}
#translations thead th {
	background-color:#E1E1E1;
	font-size:1em;
}
#translations th p {
	text-align:left;
	background-color:#FFF;
	font-size:xx-small;
	margin:0.5em 0 0;
	padding:0.5em 0.5em 0.4em;
	font-weight:normal;
}
#translations td.ok, #translations td.missing, #translations .translation td {
	text-align:center;
	border:1px solid #EEE;
	border-width:0 0px 1px 1px;
	border-collapse:collapse;
}
#translations td.ok, div.text span.ok {
	background-color:#89E5A7;
}
#translations td.missing, div.text span.missing {
	color:yellow;
	background-color:#FF5555;
}
#translations td.modified {
	background-color:#5d97e2;
}
#translations td.ok span {
	border-bottom:thin dotted;
	cursor:help;
}
fieldset.about_you input, fieldset.about_you textarea {
	margin:0 0 0.5em 0.5em;
}
fieldset.about_you label span {
	min-width:7em;
	text-align:right;
}
fieldset.about_you textarea {
	vertical-align:top;
}
fieldset.translation table {
	width: 100%;
}
fieldset.translation legend a {
	display:inline-block;
	height:0;
	width:0;
	padding:12px 0 0 12px;
	overflow:hidden;
	font-size:0;
	outline: 0;
}
fieldset.translation legend a#a_miss {
	background-color:#FF5555;
	border:1px solid #b40000;
}
fieldset.translation legend a#a_mod {
	background-color:#5D97E2;
	border:1px solid #154078;
}
fieldset.translation legend a#a_all {
	background-color: white;
	border:1px solid #CCCCCC;
}
fieldset.translation th.first_col {
	width: 33%;
}
fieldset.translation td input {
	padding:0.3em;
	width:98%;
}
#translations div.submit {
	background-color:#eaebee;
}
#translations fieldset legend {
	margin:0 0 0.5em 0;
}
#translations td.missing a {
	color:inherit;
	text-decoration:underline;
}
div.tip {
	font-size:0.9em;
	padding:0.5em;
	color:#11438a;
	border:1px solid #c2dafb;
	background:#e3edfa;
	max-width:25em;
}
form#lang_select, form#lang_select fieldset {
	display:inline;
	vertical-align:middle;
}

/* Specific result styles */
div#markup-validator td.info img, div#css-validator td.info img, div#css1-validator td.info img, div#css2-validator td.info img, div#css21-validator td.info img, div#css3-validator td.info img {
	float:left;
	clear:left;
	padding:2.4em 10px;
}
div#markup-validator td.info code, div#css-validator td.info code, div#css1-validator td.info code, div#css2-validator td.info code, div#css21-validator td.info code, div#css3-validator td.info code {
	color:#444444;
}
div#feed td.info img {
	vertical-align:middle;
	margin:0 0.3em 0.3em 0.3em;
}
div#http_response_header ul.headers {
	border-radius:0.5em;
	background-color:#000;
	color:#DDD;
	margin-bottom:0.5em;
	padding:0.5em;
	font: normal normal normal 10pt/14pt Courier, monospace;
}
div#http_response_header ul.headers li::before {
	content:"" !important;
}
#i18n .description {
	padding-left:5px;	
	padding-bottom:5px;
}
#i18n .description h3 {
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px dotted #CCC;
	margin: 10px 0;
}
#i18n .description p {
	margin: 5px 0;
}
#i18n .description code {
	background-color: #EAEBEE;
	border: 1px dotted #CCC;
	color: black;
	display: inline;
	font-family: Monaco, 'Courier New', monospace;
	font-size: small;
	padding-left: 0.2em;
	padding-right: 0.2em;
	white-space: normal;
	line-height: 1.4em;
	border-radius: 3px;
}
#i18n .description ol {
	margin: 5px 0;
}
#i18n .description ol li {
	margin-bottom:5px;
}

#observations span.arrow {
	display:inline-block;
	height:0;
	width:0;
	padding:9px 0 0 9px;
	overflow:hidden;
	font-size:0;
}
div.group h3 span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -36px 0;
	margin-right:4px;
}
div.group h3.toggled span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -36px -11px;
	margin-right:4px;
}
div.errors h3 span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -18px 0;
}
div.errors h3.toggled span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -18px -11px;
}
div.infos h3 span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat 0 0;
}
div.infos h3.toggled span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat 0 -11px;
}
div.warnings h3 span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -9px 0;
}
div.warnings h3.toggled span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -9px -11px;
}
div.observer h2 span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -27px 0;
	margin-bottom:1px;
}
div.observer h2.toggled span.arrow {
	background: url(../images/unicons_sprite.png) no-repeat -27px -11px;
	margin-bottom:0;
}