#set ($title = "Unicorn")
#set ($css = ['base_ucn.css', 'init.css'])
##set ($js = ['mootools-1.2.5-core-more-yc.js', 'w3c_unicorn_init.js'])
#set ($js = ['mootools-1.3.2.js', 'w3c_unicorn_init.js'])
#parse('head.vm')

<div id="init">
	<h1>Hi ${user}!</h1>
	<ul>
		<li><a href="init?task=all" class="init">Initialize all</a></li>
		<li><a href="init?task=languages" class="init">Reload languages</a></li>
		<li><a href="init?task=observers" class="init">Reload observers</a></li>
		<li><a href="init?task=tasklist" class="init">Reload tasklist</a></li>
		<li><a href="init?task=messages" class="init">Reload messages</a></li>
	</ul>
	<textarea name="result" id="result" rows="15" cols="32" disabled="disabled"></textarea>
</div>

#parse('footer.vm')