<?xml version='1.0' encoding="utf-8"?>
<observationresponse xmlns="http://www.w3.org/unicorn/observationresponse"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.w3.org/unicorn/observationresponse file:/home/jean/observer-response.xsd"> 
    <checkedby>Unicorn</checkedby>
    <passed>false</passed>
    <result>
        <errors xml:lang="en">
            <errorcount>1</errorcount>
            <errorlist>
                <uri></uri>
                <errorcount>1</errorcount>
                <error>
                    <errortype>io</errortype>
                    <message>$io_1</message>
                    <longmessage>$io_2</longmessage>
                    <longmessage>$io_3</longmessage>
                    <longmessage>$io_4</longmessage>
                    <longmessage>$io_5</longmessage>
                    <longmessage>$exception</longmessage>
                </error>
            </errorlist>
        </errors>
    </result>
</observationresponse>