#set ($noEscape_title = "Unicorn - Translations")
#set ($css = ['base_ucn.css'])
#parse('head.vm')

<div id="translations">
	<table>
		<thead>
			<tr>
				<th scope="col">Property</th>
				#foreach($prop in $languageProps)
				<th scope="col">$prop.get("language")</th>
				#end
			</tr>
		</thead>
		<tbody>
			#foreach($key in $defaultProps.keySet())
				<tr>
					<th class="property_name" scope="row">$key <p>$esc.html($defaultProps.get($key))</p></th>
					#foreach($prop in $languageProps)
						#if($prop.get($key))
						<td class="ok" title="$!esc.html($prop.get($key))">✔</td>
						#{else}
						<td class="missing" title="$!esc.html($prop.get($key))">✘</td>
						#end
					#end
				</tr>
			#end
		</tbody>
	</table>
</div>

#parse('footer.vm')