#if ($messages.size() > 0)
#foreach ($message in $messages)
#if ($message.Level == "ERROR")
Error:
	#evaluate($message.Message)
	$!{message.Content}
#end
#end
#foreach ($message in $messages)
#if ($message.Level == "WARNING")
Warning:
	#evaluate($message.Message)
	$!{message.Content}
#end
#end
#foreach ($message in $messages)
#if ($message.Level == "INFO")
Info:
	#evaluate($message.Message)
	$!{message.Content}
#end
#end
#end

#set($observationList = $unicorncall.ObservationList)
#foreach ($observationName in $observationList.keySet())
#set ($observation = $observationList.get($observationName))
#set ($infoCount = $observation.getInfoCount())
#set ($errorCount = $observation.getErrorCount())
#set ($warningCount = $observation.getWarningCount())
==================================================================================================================================================
=> #if($observation.isPassed())$test_ok_1#else$test_fail_1#end $unicorncall.getObserverName($observationName, $lang)#if($observation.Rating) ($observation.Rating/100)#end

#if($infoCount && $infoCount > 0)   Infos: $infoCount
#end#if($errorCount && $errorCount > 0)   Errors: $errorCount
#end#if($warningCount && $warningCount > 0)   Warnings: $warningCount
#end#if($observation.getFilteredRequestUri())   Direct Link: $observation.getFilteredRequestUri()
#else   Direct Link: $observation.getBaseURI($observationName)#end
#if ($infoCount && $infoCount > 0)
--------------------------------------------------------------------------------------------------------------------------------------------------
Infos ($infoCount)
--------------------------------------------------------------------------------------------------------------------------------------------------
#foreach($result in $observation.getResultsList())
#if(!$result.Infos.isEmpty())
#if ($unicorncall.getInputMethod() == "URI")=> URI : $result.Uri#end
#if ($unicorncall.getInputMethod() == "UPLOAD")=> File : $result.Uri#end
#if ($unicorncall.getInputMethod() == "DIRECT")=> File : Direct Input#end

#foreach($info in $result.Infos)
   -#if($info.Line) Line:$info.Line#end#if($info.Column) Column:$info.Column#end#if($info.Context) Context:$info.Context#end
#if ($info.Line || $info.Column || $info.Context)

    #end
#foreach($message in $info.Message)
 $message
#if($velocityHasNext)    #end
#end
##foreach($longMessage in $info.Longmessage)
##foreach($longMessagePiece in $longMessage.Content)
##$longMessagePiece
##end
##end
#end
#end
#end
#end
#if ($errorCount && $errorCount > 0)
--------------------------------------------------------------------------------------------------------------------------------------------------
Errors ($errorCount)
--------------------------------------------------------------------------------------------------------------------------------------------------
#foreach($result in $observation.getResultsList())
#if(!$result.Errors.isEmpty())
#if ($unicorncall.getInputMethod() == "URI")=> URI : $result.Uri#end
#if ($unicorncall.getInputMethod() == "UPLOAD")=> File : $result.Uri#end
#if ($unicorncall.getInputMethod() == "DIRECT")=> File : Direct Input#end

#foreach($error in $result.Errors)
   -#if($error.Line) Line:$error.Line#end#if($error.Column) Column:$error.Column#end#if($error.Context) Context:$error.Context#end
#if ($error.Line || $error.Column || $error.Context)

    #end
#foreach($message in $error.Message)
 $message
#if($velocityHasNext)    #end
#end
##foreach($longMessage in $error.Longmessage)
##foreach($longMessagePiece in $longMessage.Content)
##$longMessagePiece
##end
##end
#end
#end
#end
#end
#if ($warningCount && $warningCount > 0)
--------------------------------------------------------------------------------------------------------------------------------------------------
Warnings ($warningCount)
--------------------------------------------------------------------------------------------------------------------------------------------------
#foreach($result in $observation.getResultsList())
#if(!$result.Warnings.isEmpty())
#if ($unicorncall.getInputMethod() == "URI")=> URI : $result.Uri#end
#if ($unicorncall.getInputMethod() == "UPLOAD")=> File : $result.Uri#end
#if ($unicorncall.getInputMethod() == "DIRECT")=> File : Direct Input#end

#foreach($warning in $result.Warnings)
   -#if($warning.Line) Line:$warning.Line#end#if($warning.Column) Column:$warning.Column#end#if($warning.Context) Context:$warning.Context#end
#if ($warning.Line || $warning.Column || $warning.Context)

    #end
#foreach($message in $warning.Message)
 $message
#if($velocityHasNext)    #end
#end
##foreach($longMessage in $warning.Longmessage)
##foreach($longMessagePiece in $longMessage.Content)
##$longMessagePiece
##end
##end
#end
#end
#end
#end

#end
==================================================================================================================================================