#if ($messages.size() > 0)
#foreach ($message in $messages)
#if ($message.Level == "ERROR")
Error:
	#evaluate($message.Message)
	$!{message.Content}
#end
#end
#foreach ($message in $messages)
#if ($message.Level == "WARNING")
Warning:
	#evaluate($message.Message)
	$!{message.Content}
#end
#end
#foreach ($message in $messages)
#if ($message.Level == "INFO")
Info:
	#evaluate($message.Message)
	$!{message.Content}
#end
#end
#end