#set ($noEscape_title = "$result_for #evaluate($unicorncall.DocumentName)")
#set ($css = ['base_ucn.css'])
#set ($js = ['mootools-1.2.3-core-nc.js', 'mootools-1.2.3.1-more.js', 'w3c_unicorn_results.js'])
#if ($unicorncall.isPassed())
#set ($fav = "favicon_green.ico")
#else
#set ($fav = "favicon_red.ico")
#end
#parse('includes/head.vm')

#set($observationList = $unicorncall.ObservationList)

#if ($messages.size() > 0)
#displayMessages($messages)
#end
<div id="don_program">
	<script type="text/javascript" src="http://www.w3.org/QA/Tools/don_prog.js"></script>
	<noscript>
		<div><span id="don_program_img">
			<a href="http://www.w3.org/QA/Tools/Donate">
				<img alt="" src="http://www.w3.org/QA/Tools/I_heart_validator_lg" />
			</a>
		</span>
		<span id="don_program_text">
			The W3C validators rely on community support for hosting and development.<br />
			<a href="http://www.w3.org/QA/Tools/Donate">Donate</a> and help us build better tools for a better web.
		</span></div>
	</noscript>
</div>
<div id="observations">
#foreach ($observationName in $observationList.keySet())
#set ($observation = $observationList.get($observationName))
#set ($infoCount = $observation.getInfoCount())
#set ($errorCount = $observation.getErrorCount())
#set ($warningCount = $observation.getWarningCount())
<div class="observer section #if($observation.isPassed()) valid #else invalid #end" id="$observationName">
	<h2 class="title">
		<span class="icons">
			#if ($infoCount && $infoCount > 0)<a class="infos" href="#${observationName}_info" title="$info_label:$infoCount"><span class="legend">$info_label</span><span class="count">$infoCount</span></a> #end
			#if ($errorCount && $errorCount > 0)<a class="errors" href="#${observationName}_error" title="$error_label:$errorCount"><span class="legend">$error_label</span><span class="count">$errorCount</span></a> #end
			#if ($warningCount && $warningCount > 0)<a class="warnings" href="#${observationName}_warning" title="$warning_label:$warningCount"><span class="legend">$warning_label</span><span class="count">$warningCount</span></a> #end
			<a class="anchor smooth" href="#$observationName" title="$anchor_observation">a</a>
		</span>
		#if($observation.isPassed())
		$test_ok
		#else
		$test_fail
		#end
		<span class="name">$unicorncall.getObserverName($observationName, $lang) #if ($observation.Rating) ($observation.Rating/100) #end</span>
		#if ($observation.getFilteredRequestUri())<a class="direct_link" href="$observation.getFilteredRequestUri()" title="direct_link_title_1">$direct_link_label</a>
		#else <a class="direct_link" href="$observation.getBaseURI($observationName)" title="direct_link_title_2">$direct_link_label</a>#end
	</h2>
	
	<div class="results block">
	#if ($infoCount && $infoCount > 0)
		<div class="section infos" id="${observationName}_info">
			<h3 class="title">
				<a class="smooth anchor" title="$anchor_uri" href="#${observationName}_info">a</a>
				$info_label ($infoCount)
			</h3>
			<div class="block result">
				<table>
					<tbody>
					#set ($i = 0)
					#foreach($result in $observation.getResultsList())
						#if(!$result.Infos.isEmpty())
						#set ($i = $i + 1)
						<tr>
							<td colspan="4" class="uri" id="${observationName}_info_${i}">
							#if ($unicorncall.getInputMethod() == "URI")<span>$uri_token: </span><a href="$result.Uri">$result.Uri</a>#end
							#if ($unicorncall.getInputMethod() == "UPLOAD")<span>$file_token: </span>$result.Uri#end
							#if ($unicorncall.getInputMethod() == "DIRECT")<span>$submitted_file: </span>#end
							</td>
							<td class="anchor uri"><a class="smooth" title="$anchor_uri" href="#${observationName}_info_${i}">a</a></td>
						</tr>
#foreach($info in $result.Infos)
#set ($messageId = "${observationName}_info_${i}_$velocityCount")
						<tr>
							<td class="linenumber" title="#if($info.Line)$line_token: $info.Line#end">$!info.Line</td>
							<td class="colnumber" title="#if($info.Column)$column_token: $info.Column#end">$!info.Column</td>
							<td class="codeContext" title="$context_token">$!{info.Context}</td>
							<td class="info" id="$messageId">
							#foreach($message in $info.Message)<span class="msg">$message</span>#end
							#foreach($longMessage in $info.Longmessage)
							<p class="longmsg">
							#foreach($longMessagePiece in $longMessage.Content)
								$longMessagePiece
							#end
							</p>
							#end
							</td>
							<td class="anchor"><a class="smooth" title="$anchor_message" href="#$messageId">a</a></td>
						</tr>
#end
						#end
					#end
					</tbody>
				</table>
			</div>
		</div>
	#end
	
	#if ($errorCount && $errorCount > 0)
		<div class="section errors" id="${observationName}_error">
			<h3 class="title">
				<a class="smooth anchor" title="$anchor_uri" href="#${observationName}_error">a</a>
				$error_label ($errorCount)
			</h3>
			<div class="block result">
				<table>
					<tbody>
					#set ($i = 0)
					#foreach($result in $observation.getResultsList())
						#if (!$result.Errors.isEmpty())
						#set ($i = $i + 1)
						<tr>
							<td colspan="4" class="uri" id="${observationName}_error_${i}">
							#if ($unicorncall.getInputMethod() == "URI")<span>$uri_token: </span><a href="$result.Uri">$result.Uri</a>#end
							#if ($unicorncall.getInputMethod() == "UPLOAD")<span>$file_token: </span>$result.Uri#end
							#if ($unicorncall.getInputMethod() == "DIRECT")<span>$submitted_file: </span>#end
							</td>
							<td class="anchor uri"><a class="smooth" title="$anchor_uri" href="#${observationName}_error_${i}">a</a></td>
						</tr>
#foreach($error in $result.Errors)
#set ($messageId = "${observationName}_error_${i}_$velocityCount")
						<tr>
							<td class="linenumber" title="#if($error.Line)$line_token: $error.Line#end">$!error.Line</td>
							<td class="colnumber" title="#if($error.Column)$column_token: $error.Column#end">$!error.Column</td>
							<td class="codeContext" title="$context_token">$!error.Context</td>
							<td class="error" id="$messageId">
							#foreach($message in $error.Message)<span class="msg">$message</span>#end
							#foreach($longMessage in $error.Longmessage)
							<p class="longmsg">
							#foreach($longMessagePiece in $longMessage.Content)
								$longMessagePiece
							#end
							</p>
							#end
							</td>
							<td class="anchor"><a class="smooth" title="$anchor_message" href="#$messageId">a</a></td>
						</tr>
#end
						#end
					#end
					</tbody>
				</table>
			</div>
		</div>
	#end
	
	#if ($warningCount && $warningCount > 0)
		<div class="section warnings" id="${observationName}_warning">
			<h3 class="title">
				<a class="smooth anchor" title="$anchor_uri" href="#${observationName}_warning">a</a>
				$warning_label ($warningCount)
			</h3>
			<div class="block result">
				<table>
					<tbody>
					#set ($i = 0)
					#foreach($result in $observation.getResultsList())
						#if(!$result.Warnings.isEmpty())
						#set ($i = $i + 1)
						<tr>
							<td colspan="4" class="uri" id="${observationName}_warning_${i}">
							#if ($unicorncall.getInputMethod() == "URI")<span>$uri_token: </span><a href="$result.Uri">$result.Uri</a>#end
							#if ($unicorncall.getInputMethod() == "UPLOAD")<span>$file_token: </span>$result.Uri#end
							#if ($unicorncall.getInputMethod() == "DIRECT")<span>$submitted_file: </span>#end
							</td>
							<td class="anchor uri"><a class="smooth" title="$anchor_uri" href="#${observationName}_warning_${i}">a</a></td>
						</tr>
#foreach($warning in $result.Warnings)
#set ($messageId = "${observationName}_warning_${i}_$velocityCount")
						<tr>
							<td class="linenumber" title="#if($warning.Line)$line_token: $warning.Line#end">$!warning.Line</td>
							<td class="colnumber" title="#if($warning.Column)$column_token: $warning.Column#end">$!warning.Column</td>
							<td class="codeContext" title="$context_token">$!warning.Context</td>
							<td class="warning level$warning.getLevel()" id="$messageId">
							#foreach($message in $warning.Message)<span class="msg">$message</span>#end
							#foreach($longMessage in $warning.Longmessage)
							<p class="longmsg">
							#foreach($longMessagePiece in $longMessage.Content)
								$longMessagePiece
							#end
							</p>
							#end
							</td>
							<td class="anchor"><a class="smooth" title="$anchor_message" href="#$messageId">a</a></td>
						</tr>
#end
						#end
					#end
					</tbody>
				</table>
			</div>
		</div>
	#end
	</div>
</div>
#end
</div>
#parse('includes/footer.vm')
