#if($unicorncall.DocumentName)
  #set ($title = "$result_for $unicorncall.DocumentName")
#else
  #set ($title = $result_for_upload)
#end  
#set ($css = ['base_ucn.css'])
#parse( 'includes/head.vm' )
  
    <div id="result">
      <h2 id="results" class="invalid">$critical_error</h2>
      <ol class="error_list">
        <li class="msg_err">
          #if($error.Message)
          <span class="msg">$error.Message</span>
          #end
          <div class="ve mid-127">
            $stack_trace_text
          </div>
          <pre>
$error
      #foreach($traceElt in $error.StackTrace)
$traceElt
      #end
          </pre>
        </li>
      </ol>
    </div>
    
#parse( 'includes/footer.vm' )