	<ul id="menu">
			<li><a href="https://github.com/w3c/Unicorn" title="$documentation_title">$documentation</a></li>
			<li><a href="https://github.com/w3c/Unicorn" title="$download_title">$download</a></li>
			<li><a href="https://github.com/w3c/Unicorn/issues" title="$feedback_title">$feedback</a></li>
			<li><a href="${baseUri}translations" hreflang="en" title="$translations_title">$translations</a></li>
	</ul>
	
#if ($languages && $languages.size() > 1)
	<form action="$!{language_action}" method="get" id="lang_choice">
		<fieldset>
#foreach( $key in $requestParameters.keySet() )
	#if($key != 'ucn_lang' && $key != 'ucn_text' && $key != 'ucn_file')
	<input type="hidden" name="$key" value="$esc.html($requestParameters.get($key))"/>
	#end
#end
		<label for="ucn_lang">Language</label>
		<select name="ucn_lang" id="ucn_lang" title="Select language">
#foreach( $locale in $languages )
#if ($locale.getName() != "lolcat" && $locale.getName() != "l33t" && $locale.getName() != "buccaneer")
#set($localeName = $locale.getDisplayName($locale))
#if ($locale.getName() == $lang)
			<option value="$lang" selected="selected">$localeName</option>
#else
#set($langKey = $strUtils.replace($locale.getName(), '_', '-'))
			<option value="$langKey" lang="$langKey" xml:lang="$langKey">$localeName ($locale.getDisplayName($currentLocale))</option>
#end
#end
#end
		</select>
		<input id="lang_change" type="submit" value="OK" />
		</fieldset>
	</form>
#else
<div id="lang_choice">$currentLocale.getDisplayLanguage($currentLocale)</div>
#end
	
	<div id="footer">
		<p id="activity_logos">
			<a href="https://www.w3.org/Status" title="$download_title">
				<img src="$!{baseUri}images/opensource-75x65.png" alt="Open Source logo" height="48"/>
			</a>
		</p>
		<p id="support_logo">
			<a href="https://www.w3.org/support/" title="$donation_program">
				<img src="$!{baseUri}images/I_heart_validator.png" alt="I heart Validator logo"/>
			</a>
		</p>
    <p class="copyright" #if($lang!="en")xml:lang="en" lang="en"#end #if($direction!="ltr")dir="ltr"#end>
      Copyright &#xA9; ${year} W3C <sup>&#xAE;</sup> (<a href="https://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>, 
      <a href="https://www.ercim.eu/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>,
      <a href="https://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>) <a href="/Consortium/Legal/ipr-notice">Usage policies apply</a>.
    </p>
	</div>
</body>
</html>
