<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$lang" lang="$lang" dir="$direction">
<head>
	<title>$title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rev="start" href="$!{baseUri}" title="Home Page" />
#foreach( $sheet in $css )
	<link href="$!{baseUri}style/$sheet" type="text/css" media="screen" rel="stylesheet" />
#end
#foreach( $script in $js )
	<script type="text/javascript" src="$!{baseUri}scripts/$script"></script>
#end
	<link rev="made" href="mailto:www-validator@w3.org" />
#if ($fav)
	<link rel="icon" href="$!{baseUri}images/$fav" type="image/x-icon" />
#else
	<link rel="icon" href="$!{baseUri}images/favicon.ico" type="image/x-icon" />
#end
</head>
<body class="$direction">
	<div id="banner">
		<h1>
			<a href="https://www.w3.org/"><img alt="W3C" width="110" height="61" id="logo" src="$!{baseUri}images/w3c.png" /></a>
			<a href="$!{baseUri}"><span>Unicorn - $unicorn_title</span></a>
		</h1>
		<p>$unicorn_subtitle</p>
	</div>
