#macro (submit_button)
					<div class="submit">
						<input type="hidden" name="${param_prefix}lang" value="$lang" class="lang" />
						<input type="hidden" name="${param_prefix}task" value="$current_task.getID()" class="task" />
						<input type="submit" value="$submit" />
					</div>
#end

#macro(displayMessages $messages)
<div id="messages">
#foreach ($message in $messages)
	#if ($message.Level == "ERROR")
	<div class="error">
		<h4>#evaluate($message.Message)</h4>
		#if ($message.Content)
		<pre>$message.Content</pre>
		#end
	</div>
	#end
#end
#foreach ($message in $messages)
	#if ($message.Level == "WARNING")
	<div class="warning">
		<h4>#evaluate($message.Message)</h4>
		#if ($message.Content)
		<pre>$message.Content</pre>
		#end
	</div>
	#end
#end
#foreach ($message in $messages)
	#if ($message.Level == "INFO")
	<div class="info">
		<h4>#evaluate($message.Message)</h4>
		#if ($message.Content)
		<pre>$message.Content</pre>
		#end
	</div>
	#end
#end
</div>


#end

#macro(createParameter $param)
#set($type = $param.getType())
#if($type == "CHECKBOX")
#createCheckbox($param)
#elseif($type == "CHECKBOXLIST")
#createCheckboxList($param)
#elseif($type == "DROPDOWN")
#createDropdown($param, false)
#elseif($type == "DROPDOWNLIST")
#createDropdown($param, true)
#elseif($type == "RADIO")
#createRadio($param, true)
#elseif($type == "TEXTAREA")
#createTextarea($param, true)
#elseif($type == "TEXTFIELD")
#createTextfield($param, true)
#end
#end

#macro(createCheckbox $param)
#set($defaults = $param.getMapOfDefaultValue())
<label><span>$param.getLongName($lang):</span> 
	<input type="checkbox" name="$param.getName()" value="$value.getName()"#if($defaults.containsKey($value.getName())) checked="checked" #end class="option_input" />
</label>
#end

#macro(createCheckboxList $param)
#set($defaults = $param.getMapOfDefaultValue())
#set( $D = '$' )
#set ($a = "${D}!{param_${param.Name}}")
#set ($paramMap = "#evaluate ($a)")
<label><span>$param.getLongName($lang):</span></label> 
<span class="checkboxlist">
#foreach ($value in $param.getMapOfValue())
#set ($s = '')
#if (($paramMap != "" && $paramMap.contains($value.Name)) || ($paramMap == "" && $defaults.containsKey($value.getName()))) #set ($s = 'checked="checked"') #end
	<label>
		<input type="checkbox" name="$param.getName()" value="$value.getName()" $s class="option_input" />
		$value.getLongName($lang)
	</label>
#end
</span>
#end

#macro(createDropdown $param $multiple)
#set($defaults = $param.getMapOfDefaultValue())
#set( $D = '$' )
#set ($a = "${D}!{param_${param.Name}}")
#set ($paramValue = "#evaluate ($a)")
<label><span>$param.getLongName($lang):</span> 
	<select name="$param.Name" #if($multiple) multiple="multiple" size="3" #end class="option_input">
#foreach ($value in $param.getMapOfValue())
#set ($s = '')
#if (($paramValue != "" && $paramValue.contains($value.Name)) || ($paramValue == "" && $defaults.containsKey($value.getName()))) #set ($s = 'selected="selected"') #end
		<option value="$value.Name" $s>$value.getLongName($lang)</option>
#end
	</select>
</label> 
#end

#macro(createRadio $param)
#set($defaults = $param.getMapOfDefaultValue())
<label><span>$param.getLongName($lang):</span></label>
<span class="radiolist">
#foreach ($value in $param.getMapOfValue())
	<label>$value.getLongName($lang)
		<input type="radio" name="$param.getName()" value="$value.getName()"#if($defaults.containsKey($value.getName())) checked="checked" #end class="option_input" />
	</label>
#end
</span>
#end

#macro(createTextarea $param)
#set($defaults = $param.getMapOfDefaultValue())
<label><span>$param.getLongName($lang):</span> 
	<textarea name="$param.getName()" class="option_input">#foreach($default in $defaults)$default.Name#end</textarea>' +
</label>
#end

#macro(createTextfield $param)
#set($defaults = $param.getMapOfDefaultValue())
<label><span>$param.getLongName($lang):</span> 
	<input type="text" name="$param.getName()" value="#foreach($default in $defaults)$default.Name#end" class="option_input" />
</label>
#end

