		<ul class="navbar"  id="menu">
			<li><a href="http://www.w3.org/QA/2006/obs_framework/" title="$documentation_title">$documentation</a> <span class="hideme">|</span></li>
			<li><a href="http://dev.w3.org/cvsweb/2006/unicorn/" title="$download_title">$download</a> <span class="hideme">|</span></li>
			<li><a href="mailto:public-qa-dev@w3.org" title="$feedback_title">$feedback</a> <span class="hideme">|</span></li>
		</ul>

		<p id="activity_logos">
			<a href="http://www.w3.org/QA/" title="W3C's Quality Assurance Activity, bringing you free Web quality tools and more">
				<img src="http://www.w3.org/QA/2002/12/qa.png" alt="QA" />
			</a>
			<a href="http://www.w3.org/Style/CSS/learning" title="Learn more about Cascading Style Sheets"></a>
		</p>

		<p id="support_logo">
			Support this tool, become a<br />
			<a href="http://www.w3.org/Consortium/supporters">
				<img src="http://www.w3.org/Consortium/supporter-logos/csupporter.png" alt="W3C Supporter" />
			</a>
		</p>

		<p class="copyright">
			<a rel="Copyright" href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> &copy; 1994-2008
			<a href="http://www.w3.org/"><acronym title="World Wide Web Consortium">W3C</acronym></a>&reg;

			(<a href="http://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>,
			<a href="http://www.ercim.org/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>,
			<a href="http://www.keio.ac.jp/">Keio</a>),
			All Rights Reserved.
			W3C <a href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>,
			<a href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a>,
			<a rel="Copyright" href="http://www.w3.org/Consortium/Legal/copyright-documents">document use</a>
			and <a rel="Copyright" href="http://www.w3.org/Consortium/Legal/copyright-software">software licensing</a>

			rules apply. Your interactions with this site are in accordance
			with our <a href="http://www.w3.org/Consortium/Legal/privacy-statement#Public">public</a> and
			<a href="http://www.w3.org/Consortium/Legal/privacy-statement#Members">Member</a> privacy
			statements.
		</p>

	</body>

</html>